.contact{
    background-color: rgba(243, 203, 151, 0.271); 
    width: 700px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 3em;
    border-radius: 10px;
    padding: 55px 55px;
    padding-bottom: 50px;

    @media(max-width: 1010px){
        width: 85vw;
        padding: 55px 10px;
        padding-bottom: 25px;
    }
}

.contact h1{
    margin-bottom: 50px;
}


.contact_box{
   
    display: flex;
    flex-direction: column;
    

    @media(max-width: 1010px){
        flex-direction: column

    }


}

.contact_items{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    margin-top: 20px;
    
}

.contact_items:hover{
    transform: scale(1.2)
}

.contact_items img{
    width: 50px;
    background-color: white;
    padding: 1.2em;
    border-radius: 50px;
}

.located{
    padding: 2em;
}


.located h1{
    margin-bottom: 2px;
}

.located p{
    font-size: 1.2em;
}

.located iframe{
    width: 55%;

    border-radius: 200px;
    transition: 0.5s;
    border: none;
    @media(max-width: 1010px){
        width: 85%; 
    }
}

.located iframe:hover{
    transform: scale(1.1)
}