.home{
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.home_top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8em 3em;
    text-align: center;
    padding-bottom: 45px;

    @media(max-width: 1010px){
        flex-direction: column;
        padding: 1em;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.home_top h1 {
    font-size: 3em;
    margin-bottom: 10px;
    @media(max-width: 1010px){
        color: rgb(5, 31, 2);

    }
}

.home_top p {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 20px;
    @media(max-width: 1010px){
        color: black;
    }
}

.home_links{
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.home_links img{
    width: 70px;
}



.profile{
    width: 350px;
    border-radius: 200px;
    transition: 0.8s;
    @media(max-width: 1010px){
        width: 200px

    }
}

.profile:hover{
    transform: scale(1.1);
}

.top_text{
    padding-right: 16em;
    color: rgb(234, 219, 195);
    @media(max-width: 1010px){
        padding: 3em;
        padding-top: 0px;
        padding-bottom: 0px;

    }
}



.cv{
    background-color: antiquewhite;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    align-content: center;
    transform: translate(-10%, -10%);
    transition: 0.8s;
}

.cv:hover{
    font-size: 1.3rem;
}

.links_home{
    transition: 0.6s;
}

.links_home:hover{
   transform: scale(1.3);
}

.aboutme_box{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 5em;
    border-radius: 10px;
    padding: 5px 55px;
    
    display: flex;
    flex-direction: column;
    background-color: rgba(243, 203, 151, 0.472);
    width: 700px;

    @media(max-width: 1010px){
        width: 85vw;
        padding: 5px 10px;

    }
}

.aboutme_box h1{
    padding-bottom: 10px;
    margin-bottom: 10px;

    
}

.aboutme_box p{
    font-size: 1.2em;

    
}