.navbar {
  display: flex;
  box-shadow: rgb(0, 0, 0, 0.15) 0px -2px 10px 0px;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 8em;
  background-color: rgba(52, 46, 46, 0.404);
  color: white;

  @media (max-width: 1010px) {
    padding: 0.5em 1em;
  }
}

.brand {
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}

.brand:hover {
  color: rgb(166, 255, 196);
}

.brand span {
  font-weight: 900;
  text-transform: uppercase;
}

.links_list {
  display: flex;
  list-style: none;
  margin-right: 3em;
  color: white;
  text-align: center;
  margin-right: 30vw;
  @media (max-width: 1010px) {
    margin-right: 0px;
    padding: 0px;
  }
}

.links_list li {
  padding: 0.4em 0.6em;
  @media (max-width: 1010px) {
    padding: 0px;
    font-size: 0.9em;
  }
}

.links_list li a {
  padding: 0.4em 0.6em;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: 0.7em;
  font-weight: 600;
}

.links_list li a:hover {
  color: rgb(166, 255, 196);
  font-weight: bold;
}

.active {
  background-color: black;
  color: rgb(166, 255, 196);
}
