
.skill h1{
    color: rgb(7, 49, 39);
    margin-top: 40px;
    font-size: 2em;
}

.skill p{
    color: rgb(248, 220, 220); 
    margin-top: 50px;
    font-size: 1.2em;
}

.skill_tech{
    background-color: rgba(243, 203, 151, 0.271); 
    width: 700px;
    min-height: 410px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 3em;
    border-radius: 10px;
    padding: 5px 55px;
    padding-bottom: 50px;

    @media(max-width: 1010px){
        width: 85vw;
        padding: 5px 10px;
        min-height: 560px;

    }
}

.skill_icons{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;    
    flex-wrap: wrap;
}

.skill_icons figure{
    margin: 10px 5px;
}

.skill_icons img{
    width: 80px;
    margin: 10px;
    position: relative;
    transition: .6s;
}

.skill_icons img:hover{
    transform: scale(1.3); /* Aumenta o tamanho da imagem em 20% */
    margin: -1px; /* Compensa o aumento de tamanho com uma margem negativa */
}

.rounded figure{
    margin-bottom: 30px;
}

.skill_icons .rounded img{
    border-radius: 100px;
}

.skill_languages{
    background-color: rgba(243, 203, 151, 0.271); 
    width: 700px;
    height: 600px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 3em;
    border-radius: 10px;
    padding: 5px 55px;
    padding-bottom: 50px;

    @media(max-width: 1010px){
        width: 85vw;
        padding: 5px 10px;
        margin-top: 25px;
        margin-bottom: 60px;
    }
}

.container_cv{
    margin-bottom: 50px;
}

.cv{
    background-color: antiquewhite;
    padding: 10px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    align-content: center;
    transform: translate(-10%, -10%);
    transition: 0.8s;
}

.cv:hover{
    font-size: 1.5rem;
}