body{
  background-color: #F6FCFF;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #033E44;
  background-image: url('./assets/back.jpg');
  background-size: unset;
  background-repeat: repeat-y;
  background-position: center top;
  overflow-x: hidden
  
  
}

.active{
  background-color: rgb(25, 49, 10);
}

button{
  box-shadow: 3px 4px 4px 1px rgb(45, 43, 43);
}
